:root {
    --primary-color:  #026C7C;
    --primary-color-dark: #02343C;
    --white: #fff;
    --logout-color: #E5B181;
}

html, body {
    height: 100vh;
    width: 100vw;
}

.global-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

.calendar-screen {
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: 100vw;
}

.rbc-calendar {
    height: 100%;
}

.rbc-today {
   background-color: #FFEFD3;
}

.rbc-day-slot .rbc-event {
    border: 1px solid var(--primary-color);
}

.rbc-event:focus {
    outline: 5px auto var(--primary-color);
}

.rbc-current-time-indicator {
    background-color: var(--primary-color-dark);
}

.rbc-toolbar .rbc-toolbar-label {
    font-weight: bold;
    text-transform: uppercase;
}

.rbc-show-more {
    color: var(--primary-color)!important;
}

.form-control:focus {
    border-color: rgba(2,108,124,.25);
    box-shadow: 0 0 0 2px rgba(2,108,124,.25);
}

/* Navbar */
.bg-dark {
    background-color: var(--primary-color-dark)!important;
}

.btn-logout {
    color:var(--logout-color);
    border-color: var(--logout-color);   
}

.btn-logout:hover {
    color: var(--white);
    background-color: var(--logout-color);   
}

/* Modal */
.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 620px;
    max-width: 500px;
    outline: none;
    padding: 10px;
}


/* Datepicker */
.react-datetime-picker input:focus {
    outline: none;
}

.react-datetime-picker__wrapper {
    border: 0px !important;
}

/* Bootstrap */
.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;  
}

.btn-primary:hover, .btn-primary:active {
    opacity: .8 !important;
}

.btn-primary:focus {
    box-shadow: none !important;
}

.fab {
    border-radius: 100%;
    bottom: 25px;
    font-size: 30px;
    padding: 25px;
    position: fixed;
    right: 25px;

}

.fab-danger {
    bottom: 25px;
    padding: 10px;
    position: fixed;
    left: 25px;
}

/* Loading page */
.loading {
    background-image: url('loading.gif');
    background-repeat: no-repeat;
    background-position:center center;
    height: 100vh;
}